*{
    margin: 0;
    padding: 0;
}
.cover{
   background-image: url('/asset/images/2.jpg');
   /* background-color: green; */
   height: 100vh;
   width: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

  
   }
.cover .nav{

    overflow: hidden;
    position: fixed;
    width: 98.5%;

   
 }

 .cover .nav a{
    margin-top: 5px;
    float: right;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    display: block;
    font-style: normal;
    text-decoration: none;
    padding-right: 30px;
    

 }
 .nav a:hover{
    /* color: #C69749; */
    background-color: #C69749;
    border-radius: 10px;
    

 }
 
.social-icon-menu{
   width: 100px;
   display: flex;
   flex-direction: row;
   padding: 0px;
   gap: 11px;
   position: absolute;
   width: 60px;
   top: 570px;
   margin-left: 1000px;

}
.social-icon-menu ul{
   list-style: none;
}
.social-icon-menu ul a{
   color: #fff;
   width: 100%;
   padding: 10px 10px;
   font-size: 30px;
   border-radius: 50px;
   transition: 0.2s;
}
.social-icon-menu ul a:hover{
   background: #C69749;
}
.cover .name h1{
   color: white;
   font-family: inter;
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 360px;
    padding-left: 50px;
}
.cover .name span{
   color:  #C69749;
   
   
} 
.cover .name h4{
   color: #fff;
   font-family: inter;
   font-size: 1.5rem;
   padding-left: 50px;
}
.hire{
   width: 200px;
   height: 60px;
   margin-left: 50px;
   margin-top: 20px;
   background: #282A3A;
   border: 5px solid #271F0C;
   border-radius: 30px;
   background: white;
   font-family: Inter;
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   
}
.hire:hover{
   background: #C69749;
}

/* ========================== done======================================== */

/* about me */
.about{
   background: #0C0800;
   height: 100vh;
   width: 100%;
 
   /* background-size: cover;
   background-position: center;
   background-repeat: no-repeat; */
   position: relative;
   display: flex;
   flex-direction: row;
}

.about .photo img{
   /* padding-top: 125px;
   padding-left: 50px; */
  
   margin-top: 125px;
   margin-left: 50px;
   border-radius: 0px 20px 0px 20px;
   border: 5px solid #C69749;

}
.about .photo img:hover{
   transform: scale(1.1);
}
.about .details{
 margin: 0;
 padding: 5px;
 background: rgba(115, 95, 50, 0.4);
 /* position: relative; */
 /* height: 400px;
 width: 650px; */
/* width: 600px;
 height: 500px;
 margin-left: 600px;
 border-radius: 20px; */
 margin-top: 100px;
 border-radius: 20px;
 margin-right: 80px;
 margin-bottom: 40px;

 
}

.about .details p{
   color: #e7e1e1;
   font-family: 'Inter';
   font-style:initial;
   padding: 30px;
   font-size: 20px;
  
}
.about .icon-menu{
   overflow: hidden;
   position: flex;
   gap: 15px;
   text-decoration: none;

}
.about .icon-menu i{
   color: #C69749;
   font-size: 25px;
   margin-left: 20px;
   margin-bottom: 15px;
   text-decoration: none;
}
.about .icon-menu a{
   font-size: 18px;
   color: #e7e1e1;
   margin-left: 5px;
   margin-bottom: 15px;
   padding-right: 20px;
}
 .dovnload-cv{
width: 230px;
height: 50px;
margin-top: 30px;
background: #0C0800;
margin-left: 350px;
margin-right: 30px;
font-family: 'Inter';
font-weight: bold;
text-decoration: none;
border: none;
font-size: 18px;
border-radius: 30px;
border-style: none;

}
.dovnload-cv i{
 font-size: 14px;
/* padding-right: 10px; */
padding-top: 0px;
/* margin-right: 80px; */
position: absolute;
padding-left: 100px;
margin-right: 40px;

}
.dovnload-cv a{
   font-size: 18px;

}
.icon-menu li{
   list-style: none;
}
a{
   text-decoration: none;
}
.skillsTools .box-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 1rem 0;
   padding-left: 3rem;
}

.skillsTools .box-container .box {
   /* width:27rem; */
   /* margin:4rem 1rem; */
   /* padding-left: 4rem; */
   /* border-left: .2rem solid #fff; */
   position: relative;
}

.skillsTools{
   background-color: #110B00;
}

.skillsTools .box-container .box span {
   font-size: 1.5rem;
   background: #222;
   color: #fff;
   border-radius: 5rem;
   padding: .5rem 2.5rem;
}

.skillsTools .box-container .box h3 {
   font-size: 1rem;
   color: #fff;
   padding-top: 1.5rem;
}

.skillsTools .box-container .box i {
   position: absolute;
   top: -0.5rem;
   left: -1.7rem;
   height: 3rem;
   width: 3rem;
   border-radius: 50%;
   line-height: 3rem;
   text-align: center;
   font-size: 2rem;
   color: black;
   background: #C69749;;
}

.skillsTools .box-container .box {
   margin: 2rem 1rem;
   padding-left: 2rem;
   padding-right: 2rem;
   border-left: 0.2rem solid #fff;
   position: relative;
   border-style: dotted;

}

.skillsTools .img-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   /* padding: 2rem 0; */
   
}

.skillsTools .img-container .logo {
   border-radius: 1rem;
   margin: 1.5rem;
   overflow: hidden;
   cursor: pointer;
   width: 70px;
   height: 70px;

}

.skillsTools .img-container .logo img {
   height: 100%;
   width: 100%;
   object-fit: cover;

}

.skillsTools .img-container .logo:hover img {
   transform: scale(1.2);
}
